header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 225px;
  width: 100%;
  margin: auto;
  z-index: 0;
  background-color: #f8a3a3;
}

.overlayImage {
  width: 100%;
}

.overlayImageDiv {
  position: absolute;
  display: flex;
  opacity: 70%;
  width: 100%;
  height: inherit;
  background-size: revert;
}

#avatar {
  z-index: 9;
  text-align: center;
}

.accountName {
  z-index: 9;
  margin-bottom: 10px;
}

img.accountAvatar {
  width: 15vw;
}

@media only screen and (min-width: 428px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    margin: auto;
    z-index: 0;
    background-color: f8a3a3;

  }

  img.accountAvatar {
    width: 22vw;
  }

  .accountName {
    z-index: 9;
  }
}


@media only screen and (min-width: 1024px) {
  .overlayImageDiv {
    position: absolute;
    display: none;
  }

  header {
    display: none;
}
}